=form_for @user,url: user_path(@user) do |f|
  =f.label :name
  %br
  =f.text_field :name
  %br
  =f.label :email
  %br
  =f.text_field :email
  %br
  =f.label :password
  %br
  =f.password_field :password
  %br
  =f.label :confirm_password
  %br
  =f.password_field :password_confirmation
  %br
  =f.submit "sign up"
