=@user.name
= calendar @user.events, {:start_day => :monday,:prev_text =>"prev", :next_text=>"next"} do |event| 
  %div= link_to event.name,edit_user_event_path(event),onclick: "appending(this);return false;"
#result
=render "events/form"

