%h6=flash[:error]
=form_for :sign_in,url: {controller: :users,action: :sign_in},method: :post do |f|
  =f.label :email
  %br
  =f.text_field :email
  %br
  =f.label :password
  %br
  =f.password_field :password
  %br
  =f.submit "sign in"
